.page {
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-color, #000028)
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.links {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color, #ff0070);
}

.links:hover {
  border-bottom: 1px solid var(--links-color, #f1b2ce);
}

.links:focus-visible {
  border: 1px solid var(--links-color, #f1b2ce);
}

.links:focus {
  outline: none;
}

/*header*/

.header {
  position: relative;
  block-size: 100vh;
  min-height: 768px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-bottom: 60px;
}

.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  text-align: center;
  color: var(--button-color, #ff0070);
  background: none;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color, #ff0070);
  pointer-events: none;
}

.decorative-text {
  position: absolute;
  right: 48px;
  top: 20px;
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
  color: var(--accent-color, #ff0070);
}

.decorative-text::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -20px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color, #ff0070);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.header__title {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.8;
  text-transform: lowercase;
  color: var(--heading-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__text {
  inline-size: 491px;
  justify-self: end;
  align-self: center;
  margin-top: -20px;
  margin-right: 20px;
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--text-color, #000028);
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
}

.decorated-area::before,
.decorated-area::after {
  content: '';
  position: absolute;
  border: 1px var(--area-color, #ff0070) solid;
  width: 25px;
  height: 25px;
}

.decorated-area::before {
  top: 19px;
  right: 20px;
  border-left: none;
  border-bottom: none;
}

.decorated-area::after {
  bottom: 21px;
  left: 20px;
  border-right: none;
  border-top: none;
}

/*main*/
/*section1*/

.section__content {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
}

.section__hard {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.section__title {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--title-color, #ff0070);
}

.section__list-item {
  margin-bottom: 20px;
}

.section__list-heading {
  margin-bottom: 10px;
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--text-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.section__list-text {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--info-color, #f1b2ce);
}

/*section2*/

.section__attention {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 
  "title . ."
  "list list list";
}

.section__title-attention {
  grid-area: title;
  margin-bottom: 20px;
}

.section__list-attention {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 20px;
 grid-area: list;
}

/*section3*/

.section__tips {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 
  "title list"
  ". list";
  gap: 10px;
}

.section__title-tips {
  grid-area: title;
}

.section__list-heading--tips {
  height: min-content;
  margin-bottom: 20px;
}

.section__list-tips {
  grid-area: list;
}

.section__list-item--heading {
  margin-bottom: 10px;
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

/*section_images*/

.section__images {
  display: block;
}

.section__list-heading--images {
  margin-bottom: 20px;
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--text-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.section__images-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 433px;
  gap: 20px;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.image_sunset {
  grid-column: span 2 / span 2;
}

.image_ice-cream {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
}

.image_tape {
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 2;
}

.image_books {
  grid-column-start: 2;
  grid-row-start: 2;
}

.image_street {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}

/*footer*/

.footer {
  position: relative;
  block-size: 100vh;
  min-height: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__heading {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.8;
  color: var(--heading-color, #db00ff);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (width >= 768px) and (width <= 1023px) {
.header {
  min-height: 1024px;
}

.header__theme-menu {
  margin-right: 20px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header__theme-menu-list {
  flex-direction: column;
  gap: 16px;
}

.header__text {
  inline-size: 364px;
  margin-right: 20px;
  line-height: 1.3;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
}

/*section1*/

.section__hard {
  gap: 20px;
}

/*section2*/

.section__attention {
  grid-template-columns: min-content 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 
  "title . ."
  "item item item";
}

.section__title-attention {
  margin-bottom: 20px;
}

.section__list-attention {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 grid-area: item;
 gap: 0;
}

/*section3*/

.section__tips {
  grid-template-columns: 236px 2fr;
  gap: 20px;
}

/*section_images*/

.section__images-list {
  grid-template-rows: 192px 230px 318px;
}

/*footer*/

.footer {
  min-height: 1024px;
}

.footer__heading {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
}

@media (max-width: 767px) {
.header {
  min-height: 668px;
  margin-left: 0;
  margin-block-end: 40px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  margin-left: 10px;
}

.header__theme-menu {
  margin-right: 10px;
  padding-top: 75px;
}

.header__theme-menu-list {
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 13px;
}

.header__text {
  inline-size: 355px;
  margin-right: 10px;
  margin-top: -10px;
}

.decorative-text {
  right: 38px;
  top: 10px;
}

.decorated-area::before {
  top: 8px;
  right: 10px;
}

.decorated-area::after {
  bottom:13px;
  left: 10px;
}

/*section1*/

.section__content {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.section__content:last-child {
  margin-bottom: 40px;
}

.section__hard {
  grid-template-columns: 1fr;
  gap: 20px;
}

/*section2*/

.section__attention {
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 
  "title"
  "list";
}

.section__list-attention {
  display: flex;
  flex-direction: column;
  gap: 0;
  grid-area: list;
}

/*section3*/

.section__tips {
  grid-template-columns: 1fr;
  grid-template-areas: 
  "title"
  "list";
  gap: 20px;
}

.section__list-heading--tips {
  margin-bottom: 0px;
}

.section__list-item--heading {
  margin-bottom: 10px;
}

/*section_images*/

.section__images-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.section__list-heading--images {
  margin-bottom: 10px;
}

/*footer*/

.footer {
  min-height: 668px;
}

.footer__heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
}